@import url('https://fonts.googleapis.com/css2?family=Rubik:ital@1&display=swap');

*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #e3f0c4;
    font-family: 'Rubik', sans-serif;
}

.container{
    display: flexbox;
    text-align: center;
    margin: 20px;
}
.container_navegacao{
    margin: 50px;
}
.imagem_foodrevive{
    width: 40em;
    height: 36em;
}
.link_navegacao{
    text-decoration: none;
    color: black;
    margin: 20px;
    font-size: 25px;
    padding: 9px;
    border: 2px solid rgb(0, 0, 0);
    background-color: whitesmoke;
    border-radius: 4px;
}
.link_navegacao:hover{
    background-color:#5c8235 ;
}

.rodape{
    display: flex;
    background-color: #5c8235;
    margin-top: 6em;
    width: 100%;
    padding: 30px;
    justify-content: center;
}

body.dark-mode {
    background-color: #333;
    color: #f2f2f2;
  }



 
  #darkModeToggle{
  
    padding: 10px 20px;
    background-color: #f2f2f2;
    color: #333;
    font-size: 26px;
    margin: 0 1em;
    
    border: 2px solid black;
    border-radius: 4px;
    
}

.rodape__redes1{
    text-align: left;
    justify-content: center;
    margin-right: 12em;
    
}

.rodape__data{
text-align: center;
justify-content: center;
}

.rodape__redes2{
justify-content: center;
align-items: center;
margin-top: 0px;
margin-left: 12em;
}

.face{
    width: 40px;
}

.twitter{
    width: 40px;
}

.insta{
    width: 40px;
}

.youtube{
    width: 40px;
}

.redes a{
    text-decoration: none;
    color: black;
}
